﻿@model BlueModas.Models.HomeViewModel
@using Microsoft.AspNetCore.Components.Web
@using BlueModas.Entities

@{    
    List<Products> tmpList = new List<Products>();
    decimal totalProducts =Model.listaProdutos.Count;
}
@functions{
    void AddToCart(int id){
        Model.listaCarrinho.Add(Model.listaProdutos.FirstOrDefault(c=> c.Id == id));
    }
}
    @(await Html.PartialAsync("~/Views/Shared/_Message.cshtml"))
    <div class="wrapper">
        <ul>
            @foreach(var item in Model.listaProdutos.OrderBy(c=> c.Id)){            
            <li>
                    <strong>@item.Name</strong>
                    <img class="product-image" src="@item.Image" width="100" height="100">
                    <span class="product-price">R$ @(String.Format("{0:N2}", item.Price))</span>
                    <button class="btn btn-primary" onclick="AddItemToCart(@item.Id)">Adicionar ao carrinho</button>
            </li>
            }
            <a id="cartUrl" href="@Url.Action("AddToCart", "Home")" style="display:none;"></a>
        </ul>
    </div>         
</div>

@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/js/products.js")"></script>
}
