@model BlueModas.Models.ListProductsViewModel
<div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <td></td>
                <td>Produto</td>
                <td>Quantidade</td>
                <td>Preço/Un.</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaCarrinho)
            {
                <tr>
                    <td><img src="@item.Products.Image" width="50" height="40"></td>
                    <td>@item.Products.Name</td>
                    <td>@String.Format("{0:N0}", item.Qtd)</td>
                    <td>@String.Format("R$ {0:N2}", item.Products.Price)</td>
                </tr>
            }
        </tbody>
    </table>
</div>