@model BlueModas.Models.CheckoutViewModel
@{
    decimal TotalPrice = Model.ListaCarrinho.Sum(c=> c.Products.Price * c.Qtd);
}
@using(Html.BeginForm()){    
    <div class="form-container">
        <div class="form-title">
            <h3>Finalizando Pedido</h3>
        </div>
        <div class="checkout-panel">
            <div class="panel-a">
                <h3 class="title" >Identificação</h3>
                <div class="form-element">
                    @Html.Label("", "Nome")
                    @Html.TextBoxFor(m=> m.Pedido.Nome)
                    @Html.ValidationMessageFor(m=>m.Pedido.Nome, "", new { @class = "text-danger "})
                </div>
                <div class="form-element">
                    @Html.Label("", "Telefone")
                    @Html.TextBoxFor(m=> m.Pedido.Telefone )
                    @Html.ValidationMessageFor(m=>m.Pedido.Telefone, "", new { @class = "text-danger "})
                </div>
                <div class="form-element">
                    @Html.Label("", "Email")
                    @Html.TextBoxFor(m=> m.Pedido.Email, "", new {@type= "email"})
                    @Html.ValidationMessageFor(m=>m.Pedido.Email, "", new { @class = "text-danger "})
                </div>
            </div>
            <div class="panel-b">
                <h3 class="title" >Resumo</h3>
                <div class="form-element">
                    @Html.Label("","Total do pedido:")
                    <strong>@String.Format("R$ {0:N2}", TotalPrice)</strong>
                </div>
            </div>               
        </div>
        
        
        <h3 class="title">Produtos</h3>

        <div class="form-list">
        @(await Component.InvokeAsync("ListProductsComponents", new { token = Model.Token }))
        </div>

        <div class="actions">
            @* <a class="btn btn-primary" href="@Url.Action("FinalizarPedido", "Cart", new { token = Model.Token})">Confirmar Pedido</a> *@
            <button type="submit" class="btn btn-primary">Confirmar Pedido</button>
        </div>
    </div>
}
@section Scripts
{
    <script src="@Url.Content("~/js/checkout.js")"></script>
}