@model BlueModas.Models.ResumeViewModel
<div>    
    <div class="form-container">
        <div class="form-title">
            <h3>Pedido #@(Model.Pedido.Id) foi realizado!</h3>
        </div>
        <div class="checkout-panel">
            <div class="form-element">
                @Html.Label("", "Nome")
                @Html.TextBoxFor(m=> m.Pedido.Nome, new { @disabled = "disabled" })
            </div>
            <div class="form-element">
                @Html.Label("", "Telefone")
                @Html.TextBoxFor(m=> m.Pedido.Telefone, new { @disabled = "disabled" })
            </div>
            <div class="form-element">
                @Html.Label("", "Email")
                @Html.TextBoxFor(m=> m.Pedido.Email, new { @disabled = "disabled" })
            </div>
            <div class="form-element">
                @Html.Label("", "Total do pedido")
                @Html.TextBoxFor(m=> m.Pedido.PrecoTotal, "R$ {0:N2}", new { @disabled = "disabled" })
            </div>
        </div>

        <div class="list">
        @(await Component.InvokeAsync("ListProductsComponents", Model.Token))
        </div>
        
    </div>
</div>
@section Scripts
{
    <script src="@Url.Content("~/js/checkout.js")"></script>
}