@model BlueModas.Models.CartViewModel
@(await Html.PartialAsync("~/Views/Shared/_Message.cshtml"))
<div>    
    <div class="actions">
        <a class="btn btn-info" href="@Url.Action("Index", "Home")">Continuar Comprando</a>
        @if(Model.ListaCarrinho.Any()){
            <a id="checkout" class="btn btn-primary" href="@Url.Action("Checkout", "Cart")">Finalizar Compra</a>
        }
    </div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <td></td>
                <td>Produto</td>
                <td>Quantidade</td>
                <td>Preço/Un.</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaCarrinho)
            {
                <tr>
                    <td><img src="@item.Products.Image" width="50" height="40"></td>
                    <td>@item.Products.Name</td>                    
                    <td><input class="product-qtd" type="number" asp-for="@item.Qtd" min="1" data-id="@item.Id" data-update-href="@Url.Action("UpdateOrderQtd", "Cart")"></td>
                    <td>@String.Format("R$ {0:N2}", item.Products.Price)</td>
                    <td><a class="product-remove" href="@Url.Action("RemoveFromCart","Cart", new { id = @item.Id})">Remover do carrinho</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts
{
    <script src="@Url.Content("~/js/cart.js")"></script>
}