﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}



.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-weight: bold;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  height: 60px; /* Vertically center the text there */  
}

.footer div{
  margin-top: 10px;
}

.product-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
}

.product-item .product-title{  
  font-size: 1.4rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100px;      
}

/* .product-item .product-title:hover{    
  white-space: initial;
  text-overflow: ellipsis;
  overflow: initial;     
  word-break: break-word; 
} */

.card .card-body:hover .product-item .product-title{
  white-space: initial;
  text-overflow: ellipsis;
  overflow: initial;
  word-break: break-word;
}

.product-item .product-price{  
  font-size: 1rem;
}

.product-image{
  margin: 10px;  
}

.product-qtd{
  text-align: center;
  max-width: 100px;
}

.product-remove{
  color:red;
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
}

.card {
  margin: 10px;
  height: 380px;  
  box-shadow: 2px 2px 3px 2px #b3d7ff;
  flex: 1;
}

.card:hover{  
  min-height: 380px;
  height: auto;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

.error-message{
  margin: 0 0 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0; 
  background-color: #fef7f8;
  border-color: #f0868e;
  color: #210406; 
  font-weight: normal !important;
}

.actions {
  margin: 20px;
  align-items: inherit;
  text-align: right;
}


/* ------------------------------------------ */

/* .container {
  width: 100%;
  height: 100%;
  padding: 30px;
} */

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper ul {
  list-style: none;
  display: flex;
  max-width: 1200px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  transition: all 0.2s;
  width: 100%;  
  align-items: flex-start;
}


.wrapper ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #cac5c5;
  border-radius: 5px;
  width: 250px;
  height: 380px;
  margin: 10px;
  padding: 30px;
  box-shadow: 2px 2px 3px 2px #b3d7ff;
  transition: all 0.2s;
}


.wrapper ul li strong {
  display: block;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 140px;  
}

.wrapper ul li span {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapper ul li:hover strong{
  white-space: initial;
  text-overflow: ellipsis;
  overflow: initial;
  word-break: break-word;
}

.wrapper ul li:hover {
  height: auto;
  min-height: 380px;
}

@media screen and (max-width:1200px){
  .wrapper ul{
    justify-content: center;
  }
}

@media screen and (max-width:790px){
  .footer div {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form-container{
  box-shadow: 2px 2px 3px 2px #b3d7ff;
  border: 1px solid #cac5c5;   
  margin: 10px; 
  border-radius: 5px;  
}

.form-container .title{
  margin: 30px;
}

.form-container hr{
  margin: 30px;
}

.form-element{
  display: flex;
  margin: 20px;
  flex-direction: column;
  max-width: 300px;
  height: auto;
  justify-content: center;
  align-items: center;       
}

.form-element label{
  margin: 10px 0px 5px 0px;
  font-weight: bold;
}

.form-element input{
  width: 90%;
  white-space: nowrap;
  margin: 10px;
  border-radius: 5px;
  border-width: 1px;
  text-align: center;
  height: 35px;
}

.form-container .form-list{
  margin: 30px;
}

.checkout-panel {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}


.checkout-panel .panel-a, .checkout-panel .panel-b{
  flex: 1;
  height: 100%;
}

.panel-a, .panel-b {
  width: 50%;
  border: 1px solid rgb(142 209 230);
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  box-shadow: 0px 0px 6px 0px #b3d7ff;
  border-radius: 5px;
}
.panel-b, .panel-a{
  min-height: 540px;
}

.panel-b {
  margin-left: 10px;
}

.panel-a {
  margin-right: 10px;
}

.form-container .form-title{
  justify-content: center;
  display: flex;
  margin: 30px;
}

.panel-b .form-element{
  border: 1px solid black;
  padding: 20px;
  width: 100%;
}

@media screen and (max-width: 720px){
  .checkout-panel{
    flex-direction: column;
  }

  .panel-b {
    margin-left: 0px;
    margin-top: 10px;
    width:100%
  }

  .panel-a {
    margin-right: 0px;
    width:100%;
  }

  .form-list{
    overflow:scroll;
  }
}